<div class="widget-content">
  <div class="row row-size margin_from_top">
    <div class="span2 offset1" style="text-align:left">
      <span style="font-weight:bold">Username</span>
    </div>
    <div class="span2">
      <%= @user.username %>
    </div>
  </div>
</div>
<div class="widget-content">
  <div class="row row-size margin_from_top">
    <div class="span2 offset1" style="text-align:left">
      <span style="font-weight:bold">Email</span>
    </div>
    <div class="span2">
      <%= @user.email %>
    </div>
  </div>
</div>
<div class="widget-content">
  <div class="row row-size margin_from_top">
    <div class="span2 offset1" style="text-align:left">
      <span style="font-weight:bold">Address</span>
    </div>
    <div class="span2">
      <%= @user.address %>
    </div>
  </div>
</div>
<div class="widget-content">
  <div class="row row-size margin_from_top">
    <div class="span2 offset1" style="text-align:left">
      <span style="font-weight:bold">City</span>
    </div>
    <div class="span2">
      <%= @user.city %>
    </div>
  </div>
</div>
<div class="widget-content">
  <div class="row row-size margin_from_top">
    <div class="span2 offset1" style="text-align:left">
      <span style="font-weight:bold">State</span>
    </div>
    <div class="span2">
      <%= @user.state %>
    </div>
  </div>
</div>
<div class="widget-content">
  <div class="row row-size margin_from_top">
    <div class="span2 offset1" style="text-align:left">
      <span style="font-weight:bold">Country</span>
    </div>
    <div class="span2">
      <%= @user.country %>
    </div>
  </div>
</div>
<div class="widget-content">
  <div class="row row-size margin_from_top">
    <div class="span2 offset1" style="text-align:left">
      <span style="font-weight:bold">Zip Code</span>
    </div>
    <div class="span2">
      <%= @user.zipcode %>
    </div>
  </div>
</div>
<br/>
