<div id="box_login">
  <div class="container">
    <div class="span12 box_wrapper">
      <div class="span12 box box_mandetory">
        <div>
          <div class="head">
            <h4>Signin with existing account</h4>
          </div>         
          <div class="form">
            <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <%= f.text_field :login, :placeholder => "Username or Email" %>
              <%= f.password_field :password, :placeholder => "Password" %>
              <% if devise_mapping.rememberable? -%>
                <div class="remember">
                  <div class="left">
                    <%= f.check_box :remember_me %> 
                    <label for="remember_me">Remember me</label>
                  </div>
                  <div class="right">
                    <%#= link_to "Forgot password?", new_password_path(resource_name) %>
                  </div>
                </div>
              <% end -%>
              <%= f.submit "Sign in", :class=> "btn" %>
            <% end %>
          </div>                
        </div>
      </div>
        <p class="already">Don't have an account? <%= link_to('Sign up', new_user_registration_path) %></p>
    </div>
  </div>
</div>
