<a href="#" class="scrolltop">
  <span>up</span>
</a>

<!-- begins navbar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse">
   <ul class="nav pull-left">
    <li> <h2 style="color:#fff;">EdSoft Reviews!</h2>
   </li>
  </ul>
        <ul class="nav pull-right">
          <li><%= link_to('Home', root_path, :class => 'btn-header')  %></li>
          <li><%#= link_to('Blogs', public_blogs_path) %></li>
          <% if current_user %>                                    
            <li><%= link_to('Dashboard', user_dashboard_index_path, :class => 'btn-header') %></li>                
            <li><%= link_to('Sign out', destroy_user_session_path, :class=>"btn-header", :method => :delete) %></li>
          <% else %>
            <li><%= link_to('Sign up', new_user_registration_path, :class=>"btn-header") %></li>                
            <li><%= link_to('Sign in', new_user_session_path, :class=>"btn-header") %></li>                
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ends navbar -->
