<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "frontend_application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "layouts/home_header" %>
  <div class="flash row margin-auto">
    <div class="flash_message">
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <a class="close" data-dismiss="alert">&#215;</a>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= yield%>
  <%= javascript_include_tag "frontend_application" %>
</body>
</html>
<style>
  .modal-backdrop{
    background-color: transparent;
    position: relative;
  }
</style>
